{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    "emotion"
  ],
  "env": {
    "development": {
      "presets": [
        "env",
        "react",
        "stage-3"
      ]
    }
  }
}
