
#front_page { 
  font-family: 'Oxygen';
  .albums-list {
    .item {
      overflow: hidden;
      .name {
        font-size: 28px;
        padding: 10px 10px 5px 10px;
        font-weight: 100;
      }
      .media {
        width: 100%;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0 5px;
        .media-item {
          display: inline-block;
          margin-right: 5px;
          height: 200px;
          &:last-child {
            margin-right: 0;
          }
          img {
            height: 100%;
          }
        }
      }
    }
  }
}

#front_content {

}