
#front_page { 
  font-family: 'Oxygen';
  .albums-list {
    .item {
      overflow: hidden;
      .name {
        font-size: 20px;
      }
      .media {
        .media-item {
          display: inline-block;
          img {
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

#front_header {
  display: inline-block;
  width: 100%;
}

#front_content {

}