
#front_page { 
  font-family: 'Oxygen';
  .albums-list {
    .item {
      overflow: hidden;
      .name {
        font-size: 28px;
        padding: 10px 10px 5px 10px;
        font-weight: 100;
      }
      .media {
        .media-item {
          display: inline-block;
          img {
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

#front_header {
  display: inline-block;
  width: 100%;
}

#front_content {

}