
#app_header {
  background: $black;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px 15px;
  @include box-sizing;
  z-index: 100;
  .app-name {
    display: inline-block;
    h1 {
      color: $white;
      font-size: 28px;
      font-weight: 500;
      line-height: 30px;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      color: inherit;
    }
  }
}

.main-menu {
  li {
    display: inline-block;
    margin-left: 15px;
    font-size: 26px;
    a {
      color: $white;
    }
  }
}