
#app-header {
  background: $black;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 30px;
  padding: 10px 15px;
  @include box-sizing;
  z-index: 100;
  .app-name {
    display: inline-block;
    width: calc(100% - 100px);
    h1 {
      color: $white;
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      color: inherit;
    }
  }
}

.main-menu {
  li {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    a {
      color: $white;
    }
  }
}