
@import '../base/mixins';
@import 'vars/colors';

@import 'partials/datetimepicker';
@import 'partials/lightbox';
@import 'partials/inputs';
@import 'partials/buttons';
@import 'partials/uploader';
@import 'partials/popup';
@import 'partials/spinners';
@import 'partials/scrollbars';
@import 'partials/context-menu';
@import 'partials/pagination';
@import 'partials/maps';
@import 'partials/video';
@import 'partials/footer';

@import 'partials/toastr/index';

@import 'pages/users';
@import 'pages/user-create';

@import 'pages/albums';
@import 'pages/album-create';

@import 'pages/trash';

a {
  text-decoration: none;
  color: inherit;
}

#admin_content {
  position: absolute;
  top: 50px;
  bottom: 40px;
  left: 0;
  right: 0;
}
