
#app_header {
  background: rgba(34,45,58,0.50);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  z-index: 100;
  .app-name {
    height: 40px;
    h1 {
      display: inline-block;
      position: relative;
      color: $white;
      font-size: 27px;
      font-weight: 500;
      line-height: 50px;
      margin: 0;
      .name-wrapper {
        .btn {
          display: none;
          margin-left: 5px;
          margin-top: -5px;
        }
        &.edit {
          .name {
            max-width: calc(100% - 30px);
            float: left;
          }
        }
        &:hover {
          .btn {
            display: inline-block;
          }
        }
      }
    }
  }
}

.main-menu {
  display: flex;
  align-items: center;
  height: 50px;
  .hamburger {
    padding: 0;
    margin-top: 4px;
    .hamburger-box {
      width: 30px;
    }
    .hamburger-inner {
      background-color: $white;
      width: 30px;
      height: 2px;
      &:before, &:after {
        background-color: $white;
        width: 30px;
        height: 2px;
      }
    }
    &.is-active {
      .hamburger-inner {
        background-color: transparent;
      }
    }
  }
  li {
    margin-left: 10px;
    font-size: 32px;
    cursor: pointer;
  }
  .dd-menu {
    li {
      font-size: 16px;
      margin: 0;
      i {
        font-size: 20px;
        margin-left: 4px;
      }
    }
  }
}
