
#users_page {
  .users-wrapper {
    width: 60%;
    padding: 25px;
    .users-list {
      display: inline-block;
      width: 100%;
      height: calc(100% - 150px);
    }
    .users-item {
      display: inline-block;
      position: relative;
      float: left;
      width: 45%;
      height: 50px;
      margin-bottom: 20px;
      cursor: pointer;
      border: 1px solid transparent;
      @include border-radius(25px);
      .avatar {
        background-color: lighten($blue, 30);
        position: absolute;
        left: -1px;
        top: -1px;
        width:  50px;
        height: 50px;
        border: 1px solid $blue;
        line-height: 50px;
        color: $grey;
        text-align: center;
        @include border-radius(50%);
      }
      .name {
        display: inline-block;
        float: right;
        width: calc(100% - 50px);
        padding: 0 20px;
        line-height: 50px;
      }
      &:nth-child(2n+1) {
        margin-right: 5%;
      }
      &:hover, &.active {
        border: 1px solid $blue;
        .avatar {
          border: 0;
          top: 0;
          left: 0;
          width: 48px;
          height: 48px;
        }
      }
    }
  }
  .info-wrapper {
    width: 40%;
    position: fixed;
    right: 0;
    top: 50px;
    border-left: 2px solid $grey;
    .image-wrapper {
      background-color: $grey;
      position: relative;
      width: 100%;
      padding-bottom: 75%;
      .inner {
        width: 200px;
        height: 200px;
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        border: 2px solid $white;
        line-height: 200px;
        color: $white;
        text-align: center;
        font-size: 50px;
        font-weight: 900;
        @include border-radius(50%);
      }
    }
    .toolbar {
      text-align: right;
      padding: 5px;
      .btn {
        margin-left: 5px;
      }
    }
    .info-group {
      padding: 10px 10%;
    }
  }
}

