@import '../base/normalize';
@import '../base/form_reset';
@import '../base/icons';
@import '../variables/mixins';
@import '../variables/colors';

//@import 'partials/grid';
@import 'partials/header';
@import 'partials/datetimepicker';
@import 'partials/modal';
@import 'partials/dropzone';
@import 'partials/forms';
@import 'partials/inputs';
@import 'partials/buttons';
@import 'partials/tooltips';
@import 'partials/lists';
@import 'partials/maps';
@import 'partials/messages';
@import 'partials/footer';

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://s3-eu-west-1.amazonaws.com/app.mindelis.com/images/bg.jpg');
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: 100%;
}

#app-container {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}

#app-content {
  padding: 60px 10px 35px 10px;
  overflow: hidden;
}



.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

