@import '../base/normalize';
@import '../variables/mixins';
@import '../variables/colors';

//@import 'partials/grid';
@import 'partials/header';
@import 'partials/datetimepicker';
// @import 'partials/modal';
// @import 'partials/dropzone';
// @import 'partials/forms';
@import 'partials/inputs';
@import 'partials/buttons';
@import 'partials/uploader';
// @import 'partials/tooltips';
// @import 'partials/lists';
// @import 'partials/maps';
// @import 'partials/messages';
@import 'partials/footer';

@import 'pages/login';
@import 'pages/users';
@import 'pages/user-create';

@import 'pages/albums';
@import 'pages/album-create';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: 100%;
}

#app_wrapper {
  background-image: url('https://s3-eu-west-1.amazonaws.com/app.mindelis.com/images/bg.jpg');
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  // font-family: 'Roboto';
  font-family: 'Dosis';
  // font-family: 'Oxygen';
  // font-family: 'Ruda';
  font-size: 16px;
  line-height: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app_content {
  padding-top: 50px;
  padding-bottom: 40px;
  // overflow: auto;
  height: 100%;
  position: relative;
}



.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

